<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qorlwn.web.dao.AdminDAO">
	
	<select id="login" parameterType="Map" resultType="Map">
		<![CDATA[
			select count(*) as count, m_name, m_grade from members
			where m_id=#{id} and AES_DECRYPT(unhex(m_pw),'bae')=#{pw}
			and m_grade > 5
		]]>
	</select>
	
	<select id="notice" resultType="Map">
		select nno, ntitle, ncontent, ndate, m_no, m_id, ndel, norifile, nrealfile
		from notice
	</select>
	
	<insert id="noticeWrite" parameterType="Map">
		insert into notice (ntitle, ncontent, m_id
			<if test="norifile != null and norifile != ''">, norifile, nrealfile</if>)
		values (#{title}, #{content}, #{m_id}
			<if test="norifile != null and norifile != ''">, #{norifile}, #{nrealfile}</if>)
	</insert>
	
	<select id="noticeDetail" parameterType="Integer" resultType="Map">
		select ncontent
			<if test="norifile != null and norifile != ''">, nrealfile</if>
		from notice where nno=#{nno}
	</select>
	
	<update id="noticeHideShow" parameterType="Integer">
		update notice set
    	ndel = if(ndel=1,0,1)
    	where nno=#{nno}
	</update>
	
	<select id="setupboard" resultType="Map">
		select b_no, mb_cate, b_catename, b_url, b_comment
		from setupboard
	</select>
	
	<insert id="multiboard" parameterType="Map">
		insert into setupboard (mb_cate, b_catename, b_url, b_comment)
		values (#{cateNum}, #{name}, concat('./multiboard?board=', #{cateNum}), #{comment})
	</insert>
	
	<select id="memberList" resultType="Map">
		select * from members
	</select>
	
	<update id="gradeChange" parameterType="Map">
		update members set
		m_grade = #{grade}
		where m_no = #{m_no}
	</update>
	
	<select id="post" parameterType="Map" resultType="Map">
		select m.m_id, mb.mbtitle, mb.mbcontent, mb.mbdate, mb.mbread, mb.mbdel, m.m_name, sb.b_catename,
		(select count(*) from
		multiboard mb left join members m on mb.m_no = m.m_no
		<where>
			<if test="cate gt 0">and mb.mbboard = #{cate}</if>
			<choose>
				<when test="searchN == 'title'">and mb.mbtitle like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'content'">and mb.mbcontent like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'nick'">and m.m_name like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'id'">and m.m_id like concat('%', #{searchV},'%')</when>
			</choose>
		</where>
		) as count 
		from multiboard mb, members m, setupboard sb
		<where>
		mb.m_no = m.m_no and mb.mbboard = sb.mb_cate
			<if test="cate gt 0">and mb.mbboard = #{cate}</if>
			<choose>
				<when test="searchN == 'title'">and mb.mbtitle like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'content'">and mb.mbcontent like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'nick'">and m.m_name like concat('%', #{searchV},'%')</when>
				<when test="searchN == 'id'">and m.m_id like concat('%', #{searchV},'%')</when>
			</choose>
		</where>
		order by mb.mbno desc
	</select>

</mapper>