<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qorlwn.web.dao.AdminDAO">
	
	<select id="login" parameterType="Map" resultType="Map">
		<![CDATA[
			select count(*) as count, m_name, m_grade from members
			where m_id=#{id} and AES_DECRYPT(unhex(m_pw),'bae')=#{pw}
			and m_grade > 5
		]]>
	</select>
	
	<select id="notice" resultType="Map">
		select nno, ntitle, ncontent, ndate, m_no, m_id, ndel, norifile, nrealfile
		from notice
	</select>
	
	<insert id="noticeWrite" parameterType="Map">
		insert into notice (ntitle, ncontent, m_id
			<if test="norifile != null and norifile != ''">, norifile, nrealfile</if>)
		values (#{title}, #{content}, #{m_id}
			<if test="norifile != null and norifile != ''">, #{norifile}, #{nrealfile}</if>)
	</insert>
	
	<select id="noticeDetail" parameterType="Integer" resultType="Map">
		select ncontent
			<if test="norifile != null and norifile != ''">, nrealfile</if>
		from notice where nno=#{nno}
	</select>
	
	<update id="noticeHideShow" parameterType="Integer">
		update notice set
    	ndel = if(ndel=1,0,1)
    	where nno=#{nno}
	</update>

</mapper>