<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qorlwn.web.dao.BoardDAO">
	
	<select id="boardList" resultType="BoardDTO">
		SELECT ff.*, m.m_name  
			FROM(SELECT @ROWNUM:=@ROWNUM+1 AS rowNum, bb.*
			         , (SELECT COUNT(*) FROM board WHERE bdel=1) AS COUNT
			   FROM (SELECT  b.bno, b.btitle, b.bdate, b.blike, b.bdel, b.m_no
			         FROM board b) bb, (SELECT @ROWNUM:=0) AS R
			   WHERE bdel=1
			   ORDER BY bb.bno
			   ) as ff join members m on ff.m_no = m.m_no 
			order by bno desc LIMIT 0, 10
	</select>
	
	<select id="detail" parameterType="Integer" resultType="BoardDTO">
		SELECT bcontent, buuid, bip FROM boardview WHERE bno=#{bno}
	</select>
	
	<select id="detail2" parameterType="Integer" resultType="BoardDTO">
		select * from boardview where bno=#{bno}
	</select>
	
	<insert id="write" parameterType="BoardDTO">
		insert into board (btitle, bcontent, m_no, bip, buuid)
		values (#{btitle}, #{bcontent}, (select m_no from members where m_id = #{m_id}), #{bip}, #{buuid})
	</insert>
	
	<update id="readUp" parameterType="BoardDTO">
		update board set blike = blike + 1 where bno = #{bno}
	</update>

</mapper>