<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qorlwn.web.dao.MultiBoardDAO">
	
	<select id="boardlist" resultType="Map">
		select * from setupboard
		order by b_no
	</select>
	
	<select id="list" parameterType="Integer" resultType="Map">
		SELECT *, (SELECT COUNT(*) FROM mbboardview WHERE mbboard=#{board}) AS COUNT
		FROM (SELECT 
				cast(@rownum:=@rownum+1 as unsigned) AS rowNum, m.*
				FROM mbboardview m,(SELECT @rownum:=0) AS R
				WHERE m.mbboard = #{board}
				ORDER BY m.mbno) mm
		ORDER BY mm.mbno DESC
		LIMIT 0, 10
	</select>
	<!-- unsigned : 부호없앤다. -->
	
	<insert id="mbWrite" parameterType="Map">
	
		insert into multiboard (mbtitle, mbcontent, mbboard, m_no)
		values (#{title}, #{content}, #{board}, (select m_no from members where m_id=#{m_id}))
		
		<selectKey resultType="Integer" keyProperty="mbno" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	<!-- select last_insert_id() : 테이블의 auto_increment로 증가된 컬럼값을 가져오는 쿼리 -->
	
	<select id="mbdetail" parameterType="Integer" resultType="Map">
		select mbno, mbtitle, m_name, mbcontent, mbdate, mbread
		from mbboardview where mbno=#{mbno}
	</select>

</mapper>