@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
}

.menu {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 100%;
	float: left;
	background-color: #ecb4b5;
	overflow: hidden;
}

.menu:hover {
	width: 200px;	
	transition: 0.3s;
}

.menu-item {
	width: 190px;
	height: 50px;
	margin: 5px;
	box-sizing: border-box;
	line-height: 50px;
	overflow: hidden;
}

.menu-item i {
	margin-top: -5px;
	margin-right: 5px;
	vertical-align: middle;
}

.menu-item:hover {
	width: 190px;
	height: 50px;
	margin: 5px;
	background-color: #f2808a;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 10px;
	overflow: hidden;
	border-radius: 5px;
	font-weight: bolder;
	font-size: larger;
}

.main {
	margin-left: 50px;
	width: calc(100% - 50px);
	height: 100vh;
	float: right;
}

.article {
	width: 100%;
	height: auto;
	margin: 10px;
	box-sizing: border-box;
}

h1 {
	margin-top: 0;
}

.box {
	width: 100px;
	height: 100px;
	margin: 200px;
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 0px;
	float: left;
	background-color: #e1cee4;
	cursor: pointer;
}

.box:hover {
	font-weight: bolder;
	font-size: larger;
	height: 200px;
	width: 200px;
	margin: 80px;
	line-height: 100px;
	transition: 0.4s;
	border-radius: 30%;
}

#comment {
	width: 100%;
	height: 100px;
	padding: 5px;
	line-height: 30px;
	overflow: visible;
	animation: fadeInUp 1s;
}